apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: otel
  namespace: opentelemetry-system
spec:
  mode: deployment
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:4318

    processors:
      memory_limiter:
        check_interval: 1s
        limit_percentage: 75
        spike_limit_percentage: 15
      batch:
        timeout: 10s
        send_batch_size: 1024
      filter/healthchecks:
        error_mode: ignore
        traces:
          span:
            - 'attributes["http.target"] == "/status"'
            - 'attributes["http.target"] == "/ready"'
            - 'attributes["http.target"] == "/live"'
            - 'attributes["http.target"] == "/healthz"'
            - 'attributes["http.target"] == "/health"'
            - 'attributes["url.path"] == "/status"'
            - 'attributes["url.path"] == "/ready"'
            - 'attributes["url.path"] == "/live"'
            - 'attributes["url.path"] == "/healthz"'
            - 'attributes["url.path"] == "/health"'

    exporters:
      debug:
        verbosity: detailed
      otlp/jaeger:
        endpoint: jaeger-collector.monitoring.svc.cluster.local:4317
        tls:
          insecure: true

    service:
      pipelines:
        traces:
          receivers: [otlp]
          processors: [memory_limiter, filter/healthchecks, batch]
          exporters: [debug, otlp/jaeger]
        metrics:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [debug]
        logs:
          receivers: [otlp]
          processors: [memory_limiter, batch]
          exporters: [debug]
---
apiVersion: opentelemetry.io/v1alpha1
kind: Instrumentation
metadata:
  name: default
  namespace: circleci-server
spec:
  exporter:
    endpoint: http://otel-collector:4317
  propagators:
    - tracecontext
    - baggage
    - b3
  sampler:
    type: parentbased_traceidratio
    argument: "1.0"

  go:
    env:
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: http://otel-collector:4317
  java:
    env:
      - name: OTEL_EXPORTER_OTLP_ENDPOINT
        value: http://otel-collector:4317