apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "5" # Deploy before circleci-server
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: 27.46.0
    helm:
      values: |
        # Disable unnecessary components
        alertmanager:
          enabled: false
        nodeExporter:
          enabled: false
        pushgateway:
          enabled: false
        kubeStateMetrics:
          enabled: false
        
        server:
          persistentVolume:
            enabled: true
            size: 8Gi
          resources:
            requests:
              cpu: 500m
              memory: 2Gi
            limits:
              cpu: 2
              memory: 4Gi
        # Configure Prometheus to scrape Telegraf
        serverFiles:
          prometheus.yml:
            scrape_configs:
              - job_name: 'telegraf'
                static_configs:
                  - targets: ['telegraf.circleci-server.svc.cluster.local:9273']
                scrape_interval: 15s
                scrape_timeout: 10s
              - job_name: 'kubernetes-pods' # Soketi deployment currently has these annotations
                kubernetes_sd_configs:
                  - role: pod
                relabel_configs:
                  - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_scrape]
                    action: keep
                    regex: true
                  - source_labels: [__meta_kubernetes_pod_annotation_prometheus_io_path]
                    action: replace
                    target_label: __metrics_path__
                    regex: (.+)
                  - source_labels: [__address__, __meta_kubernetes_pod_annotation_prometheus_io_port]
                    action: replace
                    regex: ([^:]+)(?::\d+)?;(\d+)
                    replacement: $1:$2
                    target_label: __address__
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

